<!-- footer -->
<footer class="footer">
    <div class="container">
        <div class="footer-social-list">
            <ul class="footer-list-social">
                <li>
                    <a href="" class="footer-social__link"><i class="fa fa-facebook"></i> facebook</a>
                </li>
                <li>
                    <a href="" class="footer-social__link"><i class="fa fa-instagram"></i> instagram</a>
                </li>
                <li> 
                    <a href="" class="footer-social__link"><i class="fa fa-youtube"></i> youtube</a>
                </li>


            </ul>
        </div>
        <p class="footer-copyright">
            @2017 - PenciDesign. All Right Reserved. Designed and Developed by <a href="">PenciDesign</a>
        </p>
    </div>
</footer>
<!-- end footer -->