<header class="header">
    <div class="container-fluid container-modify">
        <!-- nav-top -->
        <div class="nav-top">
            <div class="container">
                <div class="row">
                    <span class="heading__title">trending now</span>
                    <ul class="list-angle">
                        <li class="previous">
                            <i class="fa fa-angle-left"></i>
                        </li>
                        <li class="next">
                            <i class="fa fa-angle-right"></i>
                        </li>
                    </ul>
                    <div class="list-link">
                        <a href="" class="list-link__item active">Bỏ túi 10 bí kíp săn vé máy bay</a>
                        <a href="" class="list-link__item ">Xin visa Jordan để đánh thức "nàng công.."</a>
                        <a href="" class="list-link__item">Bí kíp thần thánh để đi du lịch Đài...</a>
                        <a href="" class="list-link__item">Trekking Núi chúa - chuyến đi ấn tượng</a>
                        <a href="" class="list-link__item">5 Vật dụng không thể thiếu cho 1...</a>
                        <a href="" class="list-link__item">Trekking Quảng Bình - Review tour hang Tiên</a>
                        <a href="" class="list-link__item">8 Lý do thuyết phục bạn nhất định...</a>
                        <a href="" class="list-link__item">Người bản địa Singapore ăn gì</a>
                        <a href="" class="list-link__item">Bloger du lịch là gì? 10 bí kíp...</a>
                        <a href="" class="list-link__item">Kinh nghiệm đi du lịch Phú Quý: Review siêu...</a>
                    </div>
                    <ul class="nav-list-social">
                        <li class="social__item">
                            <a href=""><i class="fa fa-facebook"></i></a>
                        </li>
                        <li class="social__item">
                            <a href=""><i class="fa fa-instagram"></i></a>
                        </li>
                        <li class="social__item">
                            <a href=""><i class="fa fa-youtube"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- end nav-top -->
    <div class="container-fluid mobile">
        <!-- toogle block -->
        <div class="nav-mobile">
                <div class="toggle-block">
                    <span class="toggle-block__btn">&nbsp;</span>
                </div>
               <a href="" class="nav-mobile__logo">
                   <img src="../images/logo.png" alt="Logo" class="nav-mobile__imgLogo">
               </a>
               <ul class="list-btn">
                    <li class="btn__item"><a href=""><i class="fa fa-shopping-cart"></i></a></li>
                    <li class="btn__item"><i class="fa fa-search"></i></li>
               </ul>                
        </div>
        <!-- main-nav -->
        <nav class="main-nav">
            <div class="close-toggle">
                <span class="close__btn"><i class="fa fa-close"></i></span>
            </div>
            <a href="" class="main-nav__linklogo"><img src="../images/logo.png" alt="Logo"
                    class="main-nav__imgLogo"></a>
            <ul class="list-social">
                <li class="social__item"><a href="" class="link"><i class="fa fa-facebook"></i></a></li>
                <li class="social__item"><a href="" class="link"><i class="fa fa-instagram"></i></a></li>
                <li class="social__item"><a href="" class="link"><i class="fa fa-youtube"></i></a></li>
            </ul>
            <ul class="nav-list">
                <li class="nav-list__item"><a href="" class="nav-list__link">Trang chủ</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">Du ký</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">Kinh nghiệm</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">Hình ảnh video</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">Bhutan</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">blog du lịch</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">du lịch bali</a></li>
                <li class="nav-list__item"><a href="" class="nav-list__link">decathlon</a></li>
            </ul>
        </nav>
        <div class="bg-overlay"></div>
        <!-- end main-nav -->   
    </div>
</header>